 <%= stylesheet_link_tag "left_menu/leftmenu" %>
 <%= stylesheet_link_tag "left_menu/styles" %>


        <nav class="sidenav left" role="navigation">
            <ul class="menu">
                <li class="user">
                    <div class="search-block">
                        <input type="text" class="search">
                        <span>Search <i class="fa fa-search"></i></span>
                    </div>
                    <div class="content">
                        <img class="img-circle" height="54" src="/assets/img/user.jpg" alt="">
                        <p><%= current_user.name.present? ? current_user.name.try(:humanize) : "Seladex User"%>
                             <br /> 
                            <small>Lorem ipsum dolor sit amet</small>
                        </p>
                    </div>
                </li>
                <li>
                         <%= link_to root_path, title: "Dashboard" do %>
                        Dashboard 
                        <div>
                            <img src="/assets/img/icons/dashboard.png" alt="">
                        </div>
                        <% end %>
                </li>
                <% if can? :create, Admin::Video %>
                     <li>
                        <%= link_to new_admin_video_path, title: "Video" do %>
                        <!-- <a href="index.html"> -->
                            Video 
                            <div>
                                <img src="/assets/img/icons/documents.png" alt="">
                            </div>
                        <% end %>
                        <!-- </a> -->
                    </li>
                <% end %>

                <% if can? :create, Organization %>
                     <li>
                        <% organization_path = current_user.admin? ? organizations_path : edit_organization_path(current_user.organizations.first)%>
                        <%= link_to organization_path, title: "Organization" do %>
                            Organization 
                            <div>
                                <img src="/assets/img/icons/layers.png" alt="">
                            </div>
                        <% end %>
                    </li>
                <% end %>

                <% if can? :create, User %>
                     <li>
                        <%= link_to admin_users_path, title: "User" do %>
                            User 
                            <div>
                                <img src="/assets/img/icons/cog.png" alt="">
                            </div>
                        <% end %>
                    </li>
                <% end %>
                
                <li>
                    <%= link_to '/users/sign_out' do%>
                        Logout 
                        <div>
                            <img src="/assets/img/icons/off.png" alt="">
                        </div>
                    <% end %>
                </li>
            </ul>
        </nav>
        <div class="overlay"></div>
        <div class="controlshint"><img src="assets/img/swipe.png" alt="Menu Help"></div>

   