<table border="1" class="role_permission">
	<tr>
		<th>Phone</th>
		<th>Fax</th>
		<th>Email</th>
		<th>Website</th>
		<th>Location</th>
	</tr>
	<%@account.contact_informations.each do |ai|%>
		<tr>
			<td><%=ai.phone%></td>
			<td><%=ai.fax%></td>
			<td><%=ai.email%></td>
			<td><%=ai.website%></td>
			<td><%=ai.location%></td>
		</tr>
	<%end%>
</table>