<%= form_for @organization, url: @organization.new_record? ? organizations_path : organization_path(@organization) do |f| %>
       <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@organization.errors.count, "error") %> prohibited
        this organization from being saved:
      </h2>
      <ul>
        <% @organization.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


                  <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> -->
            
            <div class="well cust_form">
                  <div class="pull-left col-md-5">
                  <div class="form-group">
                    <p class="text-muted">
                      <small>Website</small>
                    </p>
                    <div class="input-group" data-role="acknowledge-input">
                      <%= f.text_field :website, required: "required", placeholder: "Website", class: "form-control" %>
                       <!--  <input type="text" required="required" placeholder="Any Text Required" class="form-control" data-type="text" > -->
                        <span class="input-group-addon" data-role="acknowledgement"><i></i></span>
                    </div>
                  </div>
                  <%= f.fields_for :organization_admin do |org_admin| %>
                  <div class="form-group">
                    <p class="text-muted">
                      <small>First name</small>
                    </p>
                    <div class="input-group" data-role="acknowledge-input">
                      <%= org_admin.text_field :first_name, required: "required", placeholder: "First name", class: "form-control" %>
                       <!--  <input type="text" required="required" placeholder="Any Text Required" class="form-control" data-type="text" > -->
                        <span class="input-group-addon" data-role="acknowledgement"><i></i></span>
                    </div>
                  </div> 

                    <div class="form-group">
                    <p class="text-muted">
                      <small>Last name</small>
                    </p>
                    <div class="input-group" data-role="acknowledge-input">
                      <%= org_admin.text_field :last_name, required: "required", placeholder: "Last name", class: "form-control" %>
                       <!--  <input type="text" required="required" placeholder="Any Text Required" class="form-control" data-type="text" > -->
                        <span class="input-group-addon" data-role="acknowledgement"><i></i></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <p class="text-muted">
                      <small>Email</small>
                    </p>
                        <div class="input-group" data-role="acknowledge-input">
                            <%= org_admin.email_field :email, required: "required", placeholder: "Email", class: "form-control" %>
                             <!--  <input type="text" required="required" placeholder="Any Text Required" class="form-control" data-type="text" > -->
                              <span class="input-group-addon" data-role="acknowledgement"><i></i></span>
                            </div>
                        </div>  

                   <div class="form-group">
                    <p class="text-muted">
                      <small>Password</small>
                    </p>
                        <div class="input-group" data-role="acknowledge-input">
                            <%= org_admin.password_field :password, required: "required", placeholder: "Password", class: "form-control" %>
                             <!--  <input type="text" required="required" placeholder="Any Text Required" class="form-control" data-type="text" > -->
                              <span class="input-group-addon" data-role="acknowledgement"><i></i></span>
                            </div>
                        </div>   

                        <div class="form-group">
                    <p class="text-muted">
                      <small>Password Confirmation</small>
                    </p>
                        <div class="input-group" data-role="acknowledge-input">
                            <%= org_admin.password_field :password_confirmation, required: "required", placeholder: "Password Confirmation", class: "form-control" %>
                             <!--  <input type="text" required="required" placeholder="Any Text Required" class="form-control" data-type="text" > -->
                              <span class="input-group-addon" data-role="acknowledgement"><i></i></span>
                            </div>
                        </div>

                 <% end %>
                 </div>
                <% i = 0 %> 
                <div class="pull-right col-md-5">
                <%= f.fields_for :organization_addresses do |org_address| %>  
                   <% address_type = OrganizationAddress::ADDRESS_TYPE[i] %>        
                   <%= org_address.hidden_field :address_type, value: address_type %>               
                   <% i = i + 1 %>
                <div class="address_form"> 
                  <h4><%= address_type %></h4>
                  <div class="form-group">
                    <p class="text-muted">
                      <small>Address</small>
                    </p>
                    <div class="input-group" data-role="acknowledge-input">
                      <%= org_address.text_field :address, required: "required", placeholder: "Address", class: "form-control" %>
                       <!--  <input type="text" required="required" placeholder="Any Text Required" class="form-control" data-type="text" > -->
                        <span class="input-group-addon" data-role="acknowledgement"><i></i></span>
                    </div>
                  </div>


                  <div class="form-group">
                    <p class="text-muted">
                      <small>City</small>
                    </p>
                    <div class="input-group" data-role="acknowledge-input">
                      <%= org_address.text_field :city, required: "required", placeholder: "City", class: "form-control" %>
                       <!--  <input type="text" required="required" placeholder="Any Text Required" class="form-control" data-type="text" > -->
                        <span class="input-group-addon" data-role="acknowledgement"><i></i></span>
                    </div>
                  </div>
               
                  <div class="form-group">
                    <p class="text-muted">
                      <small>State</small>
                    </p>
                    <div class="input-group" data-role="acknowledge-input">
                      <%= org_address.text_field :state, required: "required", placeholder: "State", class: "form-control" %>
                       <!--  <input type="text" required="required" placeholder="Any Text Required" class="form-control" data-type="text" > -->
                        <span class="input-group-addon" data-role="acknowledgement"><i></i></span>
                    </div>
                  </div>

                  <div class="form-group">
                    <p class="text-muted">
                      <small>Zip</small>
                    </p>
                    <div class="input-group" data-role="acknowledge-input">
                      <%= org_address.text_field :zip, required: "required", placeholder: "Zip", class: "form-control" %>
                       <!--  <input type="text" required="required" placeholder="Any Text Required" class="form-control" data-type="text" > -->
                        <span class="input-group-addon" data-role="acknowledgement"><i></i></span>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <p class="text-muted">
                      <small>Country</small>
                    </p>
                    <div class="input-group" data-role="acknowledge-input">
                      <%= org_address.text_field :country, required: "required", placeholder: "Country", class: "form-control" %>
                       <!--  <input type="text" required="required" placeholder="Any Text Required" class="form-control" data-type="text" > -->
                        <span class="input-group-addon" data-role="acknowledgement"><i></i></span>
                    </div>
                  </div> 
                  <div class="form-group">
                    <p class="text-muted">
                      <small>Phone</small>
                    </p>
                    <div class="input-group" data-role="acknowledge-input">
                      <%= org_address.text_field :phone, required: "required", placeholder: "Phone", class: "form-control" %>
                       <!--  <input type="text" required="required" placeholder="Any Text Required" class="form-control" data-type="text" > -->
                        <span class="input-group-addon" data-role="acknowledgement"><i></i></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <p class="text-muted">
                      <small>Fax</small>
                    </p>
                    <div class="input-group" data-role="acknowledge-input">
                      <%= org_address.text_field :fax, required: "required", placeholder: "Fax", class: "form-control" %>
                       <!--  <input type="text" required="required" placeholder="Any Text Required" class="form-control" data-type="text" > -->
                        <span class="input-group-addon" data-role="acknowledgement"><i></i></span>
                    </div>
                  </div>

                  

                </div>
                  <% end %>
                </div>
                <div class="pull-left col-md-5">
                 <% if user_signed_in? and current_user.admin? %>
                    <div class="form-group">
                      <p class="text-muted">      
                      <small>Status</small>
                      </p>
                        <div >
                               <%= f.select :status, options_for_select([["Active", true], ["Deactive", false]]), {prompt: "Select status"}, {class: "form-control select-user-form"}%>
                        
                         </div>
                    </div>
                  <% end %>
                  
                  <div class="form-group clear">
                    <%= f.submit "Save", class: "btn btn-default btn-lg"%>
                  </div>
                </div>
              </div>
              <!-- </div> -->
            <% end %>
