      <div class="well cust_form">
        <div >
          <div class="form-group cust_show_form pull-left col-md-12 box_border">
            <div class="org_lft_col">
               <%= image_tag @organization.logo.url(:thumb) %>
                <h3>@organization.name</h3>
            </div>
              <div class="org_rht_col">
                <span>Website :</span> <span><%=@organization.website%></span>
                <div class="clear"></div>
                 <span>Email :</span> <span><%=@organization.email%></span>
              </div>
          </div>
          <div class="form-group cust_show_form pull-left col-md-6">
          	<h3>Mailing Address</h3>
          	<% mailing_address = @organization.mailing_address %>
          	<p class="text-muted ">
              <h4>Address</h4> :    <h4><span><%=mailing_address.address%></span></h4>
            </p>
            <p class="text-muted ">
              <h4>City</h4> :    <h4><span><%=mailing_address.city%></span></h4>
            </p>                  
            <p class="text-muted ">
              <h4>State</h4> :   <h4><span><%=mailing_address.state%></span></h4>
            </p>
            <p class="text-muted ">
              <h4>Country</h4> :   <h4><span><%=mailing_address.country%></span></h4>
            </p>
            <p class="text-muted ">
              <h4>Phone</h4> :   <h4><span><%=mailing_address.phone%></span></h4>
            </p>
            <p class="text-muted ">
              <h4>Fax</h4> :   <h4><span><%=mailing_address.fax%></span></h4>
            </p>
          </div>
          <div class="form-group cust_show_form pull-left col-md-6">
           <h3>Billing Address</h3>
        	<% billing_address = @organization.billing_address %>
        	<p class="text-muted ">
            <h4>Address</h4> :    <h4><span><%=billing_address.address%></span></h4>
          </p>
          <p class="text-muted ">
            <h4>City</h4> :    <h4><span><%=billing_address.city%></span></h4>
          </p>                  
          <p class="text-muted ">
            <h4>State</h4> :   <h4><span><%=billing_address.state%></span></h4>
          </p>
          <p class="text-muted ">
            <h4>Country</h4> :   <h4><span><%=billing_address.country%></span></h4>
          </p>
          <p class="text-muted ">
            <h4>Phone</h4> :   <h4><span><%=billing_address.phone%></span></h4>
          </p>
          <p class="text-muted ">
            <h4>Fax</h4> :   <h4><span><%=billing_address.fax%></span></h4>
          </p>
        </div>
    </div>
    <div class="pull-left" style="width: 20%">
 	 	  <%= link_to "Edit Organization", edit_organization_path(@organization), class: "dbtn big twitter-big no-image btn-block"  %>	</div>
    </div>
      <%= render "role_table" %>
      <%= render "brand_table" %>
      <%= render "user_table" %>
      <%= render "account_table" %>






	                
