      <div class="well cust_form">
        <div >
          <div class="form-group cust_show_form pull-left col-md-12 box_border ft20">
            <div class="org_lft_col">
               <%= image_tag @organization.logo.url(:thumb) %>
                <h2><%=@organization.name%></h2>
            </div>
              <div class="org_rht_col">
                <span>Website :</span> <span><%=@organization.website%></span>
                <div class="clear"></div>
                 <span>Email :</span> <span><%=@organization.email%></span>
              </div>
          </div>
          <div class="form-group cust_show_form pull-left col-md-6">
            <div style="width:50%">
            	<h3>Mailing Address</h3>
            	<% mailing_address = @organization.mailing_address %>
            	<%=render "common_templates/show_addresses", add: mailing_address%>
            </div>
          </div>
          <div class="form-group cust_show_form pull-right col-md-6">
            <div style="float:right;width:50%;">
               <h3>Billing Address</h3>
            	<% billing_address = @organization.billing_address %>
            	<%=render "common_templates/show_addresses", add: billing_address%>
            </div>
        </div>
    </div>
    <div class="pull-left" style="width: 20%">
 	 	  <%= link_to "Edit Organization", edit_organization_path(@organization), class: "dbtn big twitter-big no-image btn-block"  %>	</div>
    </div>
      <%= render "role_table" %>
      <%= render "brand_table" %>
      <%= render "user_table" %>
      <%= render "account_table" %>






	                
