<%= form_for @user, url: @user.new_record? ? admin_users_path : admin_user_path(@user) do |f| %>
       <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

                	<!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> -->

	                    <div class="well">
	                    	<div class="header">User Page
	                    	<!-- 	<a class="headerclose"><i class="fa fa-times pull-right"></i></a> <a class="headerrefresh"><i class="fa fa-refresh pull-right"></i></a> <a class="headershrink"><i class="fa fa-chevron-down pull-right"></i></a> -->
	                    	</div>
	                    	<div class="form-group">
	                    		<p class="text-muted">
						  			<small>Name</small>
						  		</p>
			                    <div class="input-group" data-role="acknowledge-input">
			                    	<%= f.text_field :name, required: "required", placeholder: "Name Required", class: "form-control" %>
								 <!--  <input type="text" required="required" placeholder="Any Text Required" class="form-control" data-type="text" > -->
								  <span class="input-group-addon" data-role="acknowledgement"><i></i></span>
								</div>
	                    	</div>
	                    	<div class="form-group">
	                    		<p class="text-muted">
						  			<small>Email</small>
						  		</p>
			                    <div class="input-group" data-role="acknowledge-input">
			                    	<%= f.text_field :email, required: "required", placeholder: "Email", class: "form-control" %>
								 <!--  <input type="text" required="required" placeholder="Any Text Required" class="form-control" data-type="text" > -->
								  <span class="input-group-addon" data-role="acknowledgement"><i></i></span>
								</div>
	                    	</div>

	                    	

	                    	<div class="form-group">
	                    		<p class="text-muted">
						  			<small>Password</small>
						  		</p>
			                    <div class="input-group" data-role="acknowledge-input">
			                    	<%= f.password_field :password, required: "required", placeholder: "Password", class: "form-control" %>
								 <!--  <input type="text" required="required" placeholder="Any Text Required" class="form-control" data-type="text" > -->
								  <span class="input-group-addon" data-role="acknowledgement"><i></i></span>
								</div>
	                    	</div>	

	                    	<div class="form-group">
	                    		<p class="text-muted">
						  			<small>Password Confirmation</small>
						  		</p>
			                    <div class="input-group" data-role="acknowledge-input">
			                    	<%= f.password_field :password_confirmation, required: "required", placeholder: "Password Confirmation", class: "form-control" %>
								 <!--  <input type="text" required="required" placeholder="Any Text Required" class="form-control" data-type="text" > -->
								  <span class="input-group-addon" data-role="acknowledgement"><i></i></span>
								</div>
	                    	</div>

	                    	<div>
	                    		
						  			<small>Role</small>
						  		
			                    <div>
			                    	 <%= f.select :role, User::ROLES.map{|role| role.to_s.humanize}, {prompt: "Select a Role"}, {class: "form-control select-user-form"}%>
								  <!-- <input type="text" required="required" placeholder="Email Required" class="form-control" data-type="email" > -->
								  
								</div>
	                    	</div>
	                        <div class="form-group">
	                        	<%= f.submit "Save", class: "btn btn-default btn-lg"%>
	                        </div>
	                    </div>
                	<!-- </div> -->
                <% end %>
