
 <div class="well">
 	 <div style="width: 20%">
 	 	<%= link_to "New User", new_admin_user_path, class: "dbtn big twitter-big no-image btn-block"  %>	</div>
	                    	<div class="header">User Table <a class="headerclose"><i class="fa fa-times pull-right"></i></a> <a class="headerrefresh"><i class="fa fa-refresh pull-right"></i></a> <a class="headershrink"><i class="fa fa-chevron-down pull-right"></i></a></div>
	                    	<div class="table-responsive">
	                    		<table class="table table-hover">
	                                <thead>
	                                    <tr>
	                                        <th>Username</th>
	                                        <th>Date registered</th>
	                                        <th>Role</th>
	                                        <th></th>
	                                    </tr>
	                                </thead>
	                                <tbody>
	                                	<% @users.each do |user| %>
		                                    <tr>
		                                        <td><%= user.email %> </td>
		                                        <td><%= user.created_at.strftime("%Y/%m/%d") %></td>
		                                        <td><%= user.role.try(:humanize) %></td>                              
		                                        <td><%= link_to "Edit", edit_admin_user_path(user) %></td>                              
		                                    </tr>
	                                    <% end %>
	                                    
	                                </tbody>
	                            </table>
	                    	</div>
	                    </div>
