<p class="text-muted ">
  <h4><span><%=add.address%></span></h4>,<br />
  <h4><span><%=add.city%></span></h4>,<br />
  <h4><span><%=add.state%></span></h4>,<br />
  <h4><span><%=add.country%></span></h4>,<br />
  <h4>Phone</h4> :   <h4><span><%=add.phone%></span></h4><br />
  <h4>Fax</h4> :   <h4><span><%=add.fax%></span></h4>
</p>