<%= form_for @org_user, :url => organization_organization_users_path(@organization)  do |f| %>
       <% if @org_user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@org_user.errors.count, "error") %> prohibited
        this User from being saved:
      </h2>
      <ul>
        <% @org_user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>        
<div class="well cust_form">
    <div class="pull-left col-md-5">
    <div class="form-group">
      <p class="text-muted">
        <small>First name</small>
      </p>
      <div class="input-group" data-role="acknowledge-input">
        <%= f.text_field :first_name, required: "required", placeholder: "First name", class: "form-control" %>
          <span class="input-group-addon" data-role="acknowledgement"><i></i></span>
      </div>
    </div> 

      <div class="form-group">
      <p class="text-muted">
        <small>Last name</small>
      </p>
      <div class="input-group" data-role="acknowledge-input">
        <%= f.text_field :last_name, required: "required", placeholder: "Last name", class: "form-control" %>
          <span class="input-group-addon" data-role="acknowledgement"><i></i></span>
      </div>
    </div>
    <div class="form-group">
      <p class="text-muted">
        <small>Email</small>
      </p>
          <div class="input-group" data-role="acknowledge-input">
              <%= f.email_field :email, required: "required", placeholder: "Email", class: "form-control" %>
               <!--  <input type="text" required="required" placeholder="Any Text Required" class="form-control" data-type="text" > -->
                <span class="input-group-addon" data-role="acknowledgement"><i></i></span>
              </div>
          </div>  

     <div class="form-group">
      <p class="text-muted">
        <small>Password</small>
      </p>
          <div class="input-group" data-role="acknowledge-input">
              <%= f.password_field :password, required: "required", placeholder: "Password", class: "form-control" %>
               <!--  <input type="text" required="required" placeholder="Any Text Required" class="form-control" data-type="text" > -->
                <span class="input-group-addon" data-role="acknowledgement"><i></i></span>
              </div>
          </div>   

      <div class="form-group">
      <p class="text-muted">
        <small>Password Confirmation</small>
      </p>
      <div class="input-group" data-role="acknowledge-input">
          <%= f.password_field :password_confirmation, required: "required", placeholder: "Password Confirmation", class: "form-control" %>
           <!--  <input type="text" required="required" placeholder="Any Text Required" class="form-control" data-type="text" > -->
            <span class="input-group-addon" data-role="acknowledgement"><i></i></span>
          </div>
      </div>
      <div class="form-group">
      <div class="input-group" data-role="acknowledge-input">
          <%= f.simple_fields_for :organization_managements_attributes do |f_num| %>
          <%= render "organization_managements_fields", f_num: f_num%>
          <%end%>
          </div>
      </div>
   </div>
    <div class="form-group clear">
      <%= f.submit "Save", class: "btn btn-default btn-lg"%>
    </div>
  </div>
<% end %>
