<div class="well cust_form">
  <div >
    <div class="form-group cust_show_form pull-left col-md-4">
      <h3>User Information</h3>
      <p class="text-muted ">
      <h4>First Name</h4> : <h4><span><%=@org_user.first_name%></span></h4>
      </p>
      <p class="text-muted ">
      <h4>Last Name</h4> :    <h4><span><%=@org_user.last_name%></span></h4>
      </p>                  
      <p class="text-muted ">
      <h4>Email</h4> :   <h4><span><%=@org_user.email%></span></h4>
      </p>

      <p class="text-muted ">
      <h4>Role</h4> :    
        <h4>
          <span><%=@role.name%></span>
        </h4>
      </p>
      <p class="text-muted ">
      <h4>Permissions</h4> :    
        <h4>
          <span>
            <%=render "role_permissions"%>
          </span>
        </h4>
      </p>
    </div>
  </div>
  <div class="pull-left" style="width: 20%">
    <%= link_to "Organization User List", organization_path(@organization), class: "dbtn big twitter-big no-image btn-block"  %>	
  </div>
</div>

	                
