<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="assets/favicon.png">
        <title>Seladex</title>
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
        <!-- <link href="assets/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet">
        <link href="assets/css/styles.css" rel="stylesheet">
        <link href="assets/css/leftmenu.css" rel="stylesheet"> -->
        <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.js"></script>
        <script src="assets/js/respond.min.js"></script>
        <![endif]-->
    </head>
<body>
  <% flash.each do |key, value| %>
  <div class="alerts">
    <div class="alert-message <%= key %>">
      <a class="close" href="javascript:void(0)" id="close_alert">×</a>
      <p> <%= value %> </p>
    </div>
</div>
  <% end %>
  <% if user_signed_in? %>
    <%= render "shared/left_menu" %>
  <% end %>
       <section class="wrap">
            <div class="container">
                <div class="row">
  <%= yield %> 

              </div>
        </section>
  <%= render "shared/footer" %>
<div class="overlay"></div>
        <div class="controlshint"><img src="/assets/img/swipe.png" alt="Menu Help"></div>
        
 <!-- // <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <script type="text/javascript">$(document).bind("mobileinit", function(){$.extend(  $.mobile , {autoInitializePage: false})});</script>
        <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script> 
        <script>
         login();
         register();   
        </script>       
            
</body>
</html>

