<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Seladex</title>


    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "3dbuttons/3dbutton", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

</head>

<body>

<% flash.each do |key, value| %>
  <div class="alerts">
    <div class="alert-message <%= key %>">
      <a class="close" href="javascript:void(0)" id="close_alert">×</a>
      <p> <%= value %> </p>
    </div>
  </div>
<% end %>
  <% if user_signed_in? %>
    <%= render "shared/left_menu" %>
  <% end %>


       <%=render "shared/header" %>
       <div class="container">
          <%= yield %>
        <%=render "shared/footer" %>

    </div>
    <!-- /.container -->
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    
         <%= javascript_include_tag "legend/leftmenu" %>
         <%= javascript_include_tag "legend/theme" %>
         <%= javascript_include_tag "legend/script" %>

</body>

</html>

